@media only screen and (max-width: 1400px) {
    .diceGame-main-container{
        height: 79%;
        width: 53%;
       
        top: 40px;
    }
    .player{
        padding: 25px;
    }
    .btn--roll{
        top: 258px;
    }
    .btn--hold {
        top: 310px;
    }
    .dice{
        top: 85%;
    }
  }