  body {
      font-family: monospace;
      margin: 0;
      padding: 0;
      color: white;
      box-sizing: border-box;
      font-size: 11px;
      overflow: hidden;
  }
  
  .cmd_base-container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-image: url(asset/images/backgroundCMD.jpg);
      background-repeat: no-repeat;
      position: fixed;
  }
  
  .cmd_base-container.grayscale {
      filter: grayscale(100%);
      background-color: transparent;
      transition: all 2s;
      height: 100vh;
      width: 100%;
      overflow: hidden;
  }
  
  body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: url(asset/images/backgroundCMD.jpg); */
      background-size: cover;
      z-index: -1;
  }
  
  .grayscale .modal-logOf {
      filter: none;
  }
  
  .d-flex {
      display: flex;
  }
  
  .d-coloumn {
      flex-direction: column;
  }
  
  .recycle-bin {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 120px;
      padding-left: 10px;
  }
  
  .recycleBin-text {
      font-size: 12px;
      padding-top: 73px;
      padding-left: 20px;
      width: 120px;
      padding-bottom: 35px;
      padding-top: 11px;
      font-family: monospace;
  }
  
  .pixel6-web-text {
      padding-left: 20px;
      width: 120px;
      padding-bottom: 35px;
      padding-top: 11px;
  }
  
  .cmd-text {
      padding-left: 37px;
      padding-bottom: 35px;
      padding-top: 11px;
      font-size: 12px;
      font-family: monospace;
  }
  
  .cmd {
      width: 50px;
      height: 50px;
      padding-left: 27px;
  }
  
  #pixel6icon {
      border-radius: 10%;
  }
  
  #recyclebin {
      border-radius: 5px;
      width: 60px;
      height: 65px;
  }
  
  #cmd {
      border-radius: 5px;
  }
  
  .desktop-icon {
      height: 200px;
      width: 65px;
      margin-top: 10%;
      margin-right: 20px;
  }
  
  .desktop-icon-container {
      display: flex;
  }
  
  .cmdIcon {
      margin-top: 10%;
  }
  
  .icon-text {
      margin-top: 2px;
  }
  
  #underscore {
      margin-top: 2px;
  }
  
  .maincon {
      align-items: center;
      background: #000;
      height: 600px;
      width: 800px;
      /* height: 60%; */
      overflow-y: auto;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      /* transition: all 0.5s; */
      bottom: 0;
      left: 0;
     border-left: 4px solid  blue;
     border-bottom: 4px solid blue;
     border-right: 4px solid blue;
  }
  
  .minimized {
      width: 10px;
      height: 50px;
  }
  
  .color {
      background-color: #101010;
  }
  
  .hidden-scroll {
      overflow: hidden;
  }
  
  .show-scroll {
      overflow: auto;
  }
  
  .transition {
      transition: all 0.5s;
  }
  
  .fff {
      transition: all 0.3s ease;
  }
  
  #mydiv {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      /* position: relative; */
      /* z-index: 9; */
      width: 800px;
      /* width: 66%; */
      /* resize: both; */
      overflow: auto;
      overflow-x: hidden;
  }
  
  #mydivheader {
      background: linear-gradient(rgb(15, 68, 194) 0%, rgb(14, 79, 219) 3%, rgb(9, 79, 231) 6%, rgb(25, 95, 224) 8%, rgb(23, 95, 228) 14%, rgb(16, 82, 206) 17%, rgb(18, 74, 218) 25%, rgb(12, 68, 199) 56%, rgb(22, 89, 197) 81%, rgb(11, 75, 185) 89%, rgb(16, 67, 207) 94%, rgb(15, 61, 199) 97%, rgb(6, 64, 223) 100%);
      padding: 3px;
      cursor: pointer;
      /* cursor: pointer; */
      z-index: 10;
      /* background-color: #404040; */
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  

  
  .hidden-nav {
      padding: 3px;
      /* cursor: pointer; */
      cursor: pointer;
      /* z-index: 10; */
      background-color: #404040;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 225px;
      font-weight: 700;
      font-size: 12px;
      text-shadow: rgb(0, 0, 0) 1px 1px;
      color: white;
      /* display: none; */
  }
  
  .display_output {
      width: 800px;
      /* background-color: black; */
  }
  /* navbar */
  
  .navbar {
      height: 28px;
      padding-top: 5px;
      flex-direction: row;
      flex-wrap: nowrap;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .px-icon {
      height: 17px;
      width: 17px;
      margin-bottom: 8px;
      margin-left: 5px;
      margin-top: 12px;
      margin-right: 5px;
  }
  
  #px-guess-number {
      height: 21px;
      width: 21px;
      margin-bottom: 8px;
      margin-left: 5px;
      margin-top: 12px;
      margin-right: 5px;
  }
  
  .pixel-6 {
      font-size: 19px;
  }
  
  .six {
      font-size: 23px;
      color: #c01a20;
  }
  
  .heading p .six {
      font-size: 14px;
      color: #c01a20;
  }
  
  .btn img {
      height: 15px;
      width: 15px;
  }
  
  button {
      border-radius: 5px;
      margin-right: 7px;
  }
  
  .cli-buttons {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
  }
  
  .cli-button img {
      height: 15px;
      width: 15px;
  }
  
  .cli-button,
  .body_guess-btns,
  .btnclose,
  .btnremove,
  #crossBtnBigScreen,
  #bigScreenMinMaxBtn {
      border: 0px solid rgb(255, 255, 255);
      box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
      background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
      border-radius: 3px;
      background-color: transparent;
      font-size: 20px;
      color: white;
      transition: all 0.2s ease-in;
  }
  
  .btn {
      margin-right: -4px;
      right: 0;
      justify-content: flex-end;
      display: flex;
      margin-left: auto;
  }
  
  .btnclose,
  #crossBtnBigScreen,
  .body_guess-close,
  .body_piggame-close {
      background-image: radial-gradient(circle at 90% 90%, rgba(233, 46, 40, 0.911) 0%, rgba(211, 16, 16, 0.952) 55%, rgba(247, 38, 23, 0.877) 70%, rgba(226, 16, 16, 0.884) 90%, rgb(240, 26, 26) 100%);
  }
  
  .btnremove:hover,
  .cli-button:hover,
  .body_guess-btns-hover:hover {
      background-image: radial-gradient(circle at 90% 90%, rgb(118, 164, 245) 0%, rgb(108, 159, 247) 55%, rgb(123, 163, 241) 70%, rgb(163, 187, 236) 90%, white 100%);
  }
  
  .btnclose:hover,
  .cli-button:last-child:hover,
  #crossBtnBigScreen:hover,
  .body_guess-close:hover,
  .body_piggame-close:hover {
      background-image: radial-gradient(circle at 90% 90%, rgb(238, 51, 44) 0%, rgb(216, 13, 13) 55%, rgb(226, 38, 24) 70%, rgb(223, 12, 12) 90%, rgb(240, 26, 26) 100%);
      opacity: 0.9;
  }
  
  .body_guess-resize:disabled {
      background: #dddddd;
  }
  
  .container-fluid {
      width: 100%;
      min-height: 567px;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: black;
      margin: 0;
      padding: 0;
  }
  
  dd {
      width: 447px;
      margin-top: 5px;
  }
  
  dt {
      margin-top: 13px;
  }
  
  .container {
      width: 100%;
      height: 100%;
      background-color: black;
      margin-left: 0px;
      overflow: hidden;
      margin-left: 17px;
  }
  
  .heading {
      margin-top: 12px;
      width: 394px;
      height: 48px;
  }
  /* animated P */
  
  .blink-container {
      /* display: flex; */
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 170px;
      padding-top: 0px;
      flex-direction: column;
  }
  
  @keyframes blink {
      0%,
      100% {
          opacity: 1;
      }
      50% {
          opacity: 0;
      }
  }
  
  .animated-input::after {
      content: '|';
      animation: blink 0.1s infinite;
      display: inline-block;
  }
  
  @keyframes blink {
      0%,
      100% {
          opacity: 1;
      }
      50% {
          opacity: 0;
      }
  }
  
  .line {
      white-space: nowrap;
      overflow: hidden;
      opacity: 1;
      color: white;
      padding-left: 20px;
      font-size: 10px;
      animation: blink 2s infinite;
  }
  /* heading */
  
  .instruction_px {
      font-family: monospace;
      font-size: 11px;
  }
  /* prpompt section */
  
  .path {
      margin-bottom: -16px;
  }
  
  .newgeneratedpath span {
      color: #c01a20;
  }
  
  .newgeneratedpath {
      margin-bottom: 20px;
  }
  
  .main {
      font-family: monospace;
      font-size: 11px;
  }
  
  .helps {
      margin-top: 20px;
  }
  
  .input {
      outline: none;
      color: white;
      background-color: black;
      border: none;
      position: relative;
      font-family: monospace;
  }
  /* about command */
  
  .about {
      font-size: 10px;
      font-family: monospace;
      text-align: justify;
      margin-top: 20px;
  }
  
  .aboutP {
      width: 400px;
      height: 86px;
      line-height: 12px;
      margin-left: 110px;
      text-align: justify;
      /* background-color: aquamarine; */
  }
  
  .about ul {
      /* margin-left: -23px; */
      margin-left: -28px;
  }
  
  .aboutwrap {
      margin-left: 40px;
      height: 285px;
      width: 407px;
      text-align: justify;
      line-height: 13px;
  }
  /* project command */
  
  .projects {
      margin-top: 5px;
  }
  
  .projects ul li {
      list-style: none;
      margin-top: -10px;
  }
  
  */ .projects-para {
      margin-top: -20px;
  }
  
  .pwrap {
      text-align: justify;
      width: 440px;
      margin-top: -5px;
  }
  /* contact command */
  
  .contact {
      margin-top: 20px;
  }
  
  .contact-location {
      margin-top: 8px;
  }
  
  .contact p {
      margin-top: 3px;
  }
  /* jobs command */
  
  .jobs {
      text-align: justify;
      margin-top: 20px;
  }
  
  .jobs ol {
      margin-left: -21px;
  }
  
  .jobs-px {
      width: 406px;
      margin-left: 40px;
      /* background-color: aquamarine; */
  }
  
  a {
      text-decoration: none;
      transition: 0.3s;
  }
  
  a:hover {
      background-color: rgba(56, 56, 204, 0.726);
  }
  /* get_quote command */
  
  .get_quote {
      text-align: justify;
  }
  
  .get_quote p {
      margin-top: -14px;
  }
  
  .get_quote_px {
      width: 406px;
      margin-top: 20px;
  }
  /*  command not found */
  
  .note {
      font-size: 11px;
      margin-top: 20px;
  }
  /* input feild */
  
  .input-field {
      font-size: 11px;
      font-family: monospace;
  }
  /* get_quote quetions */
  
  .input_getquote {
      background-color: black;
      outline: none;
      border: none;
      margin-left: 12px;
      color: white;
      font-family: monospace;
      font-size: inherit;
  }
  
  #Project-Brief {
      background-color: black;
      margin: 0;
      text-align: left;
      margin-top: -9px;
      height: auto;
  }
  
  #project-brief-arrow {
      margin-top: 2px;
  }
  
  #project-arrow-span {
      margin-top: -7px;
      margin-right: 4px;
  }
  
  .msg {
      background-color: brown;
  }
  
  #messageYes {
      width: 270px;
      background-color: black;
  }
  
  #successfull {
      width: 270px;
      background-color: black;
      color: white;
  }
  
  .d-none {
      display: none !important;
  }
  
  .justify-center {
      justify-content: center;
  }
  
  .restore-img {
      background-color: black;
      height: 40px;
      width: 45px;
  }
  
  .bottom-div {
      height: 7px;
      /* left: 122px; */
      width: 137px;
      margin-right: 5px;
      /* position: fixed; */
      float: left;
      border-radius: 1px;
      bottom: 4px;
      color: white;
      cursor: default;
      padding: 10px 10px;
      align-items: center;
      background-color: rgba(45, 134, 236, 0.897);
      box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
      user-select: none;
  }
  
  .bottom-div:hover {
      background-color: rgb(83, 163, 255);
  }
  
  .mydividHov:hover {
      background-color: rgb(6, 108, 224);
  }
  
  .bottom-p6 {
      font-size: 19px;
  }
  
  .min-resize-h-w {
      width: 100px;
      height: 28px;
  }
  
  .fadeout {
      opacity: 0;
      transition: opacity 5s;
  }
  
  .small-size {
      width: 254px;
      height: 35px;
      top: 90vh;
      left: 127px;
  }
  
  .large-size {
      width: 800px;
      height: 600px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  #requireInput {
      width: 50%;
  }
  
  .status-bar {
      z-index: 111;
      height: 37px;
      width: 100%;
      font-family: roboto;
      align-items: center;
      background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
      background-color: rgba(0, 0, 0, 0);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-image: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
      background-size: auto;
      background-origin: padding-box;
      background-clip: border-box;
      position: fixed;
      bottom: 0px;
      right: 0px;
      left: 0px;
      display: flex;
      justify-content: space-between;
  }
  
  .left-startWindow-img {
      height: 35px;
      /* margin-bottom: -2px; */
      margin-left: -2px;
      /* position: fixed; */
      position: absolute;
      bottom: 0;
  }
  
  .hidden {
      display: none;
  }
  
  .pixel6icon:hover {
      text-decoration: none !important;
      color: red !important;
  }
  
  .soundon {
      width: 20px;
      height: 20px;
  }
  
  guess-number-game .status-bar {
      position: fixed;
  }
  
  .status-bar-items-right {
      display: flex;
      justify-content: space-around;
      flex-shrink: 0;
      background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
      border-left: 1px solid rgb(16, 66, 175);
      box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
      padding: 10px 10px;
      width: 95px;
  }
  
  .error-icon {
      height: 20px;
      width: 20px;
  }
  
  .time {
      display: flex;
      align-items: center;
      font-size: 10px;
  }
  
  .test {
      position: relative;
      width: 240px;
      height: 100px;
      background-color: #fff;
      border-radius: 20px;
      color: black;
      margin-right: 16px;
      opacity: 0;
      transition: opacity 2s;
  }
  
  .test p {
      padding: 0px 21px;
      z-index: 1;
  }
  
  .test::before,
  .test::after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
  }
  
  .test::before {
      left: 217px;
      top: 74px;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
  }
  
  .test::after {
      left: 167px;
      top: 76px;
      border-top: 22px solid transparent;
      border-right: 22px solid #fff;
      border-bottom: 22px solid transparent;
  }
  
  .dialog-box {
      width: fit-content;
      display: flex;
      justify-content: end;
      position: fixed;
      bottom: 51px;
      right: 0;
      z-index: 1;
      font-family: roboto;
  }
  
  .test-error-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3px;
  }
  
  #test-error-header-picture {
      height: 32px;
      width: 37px;
  }
  
  .replacable-chess-p6 {
      width: 38px;
      margin-right: 10px;
      border-radius: 3px;
      font-family: inherit;
      margin-left: 5px;
      background: white;
  }
  
  #user-name {
      font-size: large;
  }
  
  .horizontal-row {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 48px;
      display: block;
      height: 2px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(218, 136, 74) 50%, rgba(0, 0, 0, 0) 100%);
      border: 0px;
  }
  
  .startWindow-popup {
      width: 363px;
      position: fixed;
      bottom: 36px;
      font-size: 11px;
      line-height: 14px;
      display: flex;
      flex-direction: column;
      -moz-box-align: center;
      background-color: rgb(66, 130, 214);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      user-select: none;
      transform: translateY(100%);
      opacity: 0;
      transition: transform 0.7s ease, opacity 0.7s ease;
  }
  /* .startWindow-popup::after{
    z-index: 111;
  }
  .startWindow-popup::before{
    z-index: 0;
  } */
  
  .popup-visible {
      transform: translateY(0);
      opacity: 1;
      z-index: 3;
  }
  
  @keyframes slideUpDown {
      0% {
          transform: translateY(100%);
          opacity: 0;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
  
  .slide-in {
      animation-name: slideIn;
  }
  
  .slide-out {
      animation-name: slideOut;
  }
  
  @keyframes slideIn {
      0% {
          transform: translateY(100%);
          opacity: 0;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
  
  @keyframes slideOut {
      0% {
          transform: translateY(0);
          opacity: 1;
      }
      100% {
          transform: translateY(100%);
          opacity: 0;
      }
  }
  
  .window-popup-header {
      position: relative;
      user-select: none;
      font-size: 11px;
      line-height: 14px;
      align-self: flex-start;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      color: rgb(255, 255, 255);
      height: 54px;
      width: 360px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);
      overflow: hidden;
  }
  
  .desktop-menu {
      display: flex;
      /* flex-direction: row; */
      margin: 0px 2px;
      border-top: 1px solid rgb(56, 93, 231);
      box-shadow: rgb(56, 93, 231) 0px 1px;
  }
  
  .menu-items {
      display: flex;
      flex-direction: row;
  }
  
  .menu-left {
      background-color: rgb(255, 255, 255);
      padding: 15px 5px 5px;
      width: 167px;
      display: flex;
      flex-direction: column;
  }
  
  .menu-item-texts {
      color: black;
  }
  
  .menu-items-img {
      height: 30px;
      width: 30px;
      margin-right: 5px;
  }
  
  .menu-items-content {
      display: flex;
      margin-bottom: 11px;
      align-items: center;
      font-size: 12px;
  }
  
  .menu-items-content:hover {
      color: white;
  }
  
  .explorar-img {
      margin-left: -2px;
  }
  
  .all-desktop-left-icon {
      display: flex;
      align-items: center;
  }
  
  .menu-separator {
      height: 2.5px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%) padding-box content-box;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
  }
  
  .all-programs_tab {
      height: 24px;
      padding: 4px 15px;
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      color: black;
      display: flex;
      margin-bottom: 3px;
      position: relative;
  }
  
  .games-dropdown {
      position: absolute;
      font-family: roboto;
      /* z-index: 1; */
      left: 97%;
      bottom: 0px;
      width: 172px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: rgb(114, 173, 233) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 2px 3px 3px;
  }
  
  .games-dropdown-left-side {
      position: absolute;
      font-family: roboto;
      /* z-index: 1; */
      left: 29%;
      bottom: 185px;
      width: 172px;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: rgb(114, 173, 233) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 2px 3px 3px;
  }
  
  .dropdown_all-programs {
      position: absolute;
      font-family: roboto;
      /* z-index: 1; */
      left: 80%;
      bottom: 0px;
      background-color: white;
      width: 200px;
      display: flex;
      flex-direction: column;
      box-shadow: rgb(114, 173, 233) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 2px 3px 3px;
  }
  
  .games_dropdown-items:hover {
      background-color: rgba(47, 113, 205, 0.87);
  }
  
  .all-programs_tab:hover {
      background-color: rgb(47, 113, 205);
      color: rgb(255, 255, 255);
  }
  
  .dropdown_items,
  .games_dropdown-items {
      height: 25px;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      padding: 13px 33px 6px 10px;
      box-shadow: rgb(64, 129, 255) 3px 0px inset;
      position: relative;
      color: black;
  }
  
  .dropdown_items:hover {
      background-color: rgb(47, 113, 205);
      background: rgb(47, 113, 205);
      ;
  }
  
  .margin-rt-dropdown-text {
      margin-right: 105px;
  }
  
  .margin-rt-dropdown-text-cmd {
      margin-right: 89px;
  }
  
  .all_programs_text {
      font-size: 11px;
      line-height: 14px;
      display: flex;
      width: 135px;
      align-items: center;
      font-size: 14px;
  }
  
  .allprograms-text1 {
      margin-right: 5px;
  }
  
  .menu-separator-padding {
      padding-bottom: 5px;
  }
  
  .allprograms-img {
      height: 20px;
      width: 20px;
  }
  
  .menu-itens-right {
      background-color: rgb(203, 227, 255);
      border-left: 1px solid rgba(58, 58, 255, 0.37);
      padding: 6px 5px 5px;
      width: 170px;
      color: rgb(0, 19, 107);
  }
  
  .footer_items {
      padding: 3px;
      display: flex;
      margin-right: 10px;
      -moz-box-align: center;
      align-items: center;
      user-select: none;
      color: rgb(255, 255, 255);
  }
  
  .footer_item-img {
      height: 30px;
      width: 30px;
      border-radius: 3px;
      margin-right: 2px;
      width: 22px;
      height: 22px;
      user-select: none;
      color: rgb(255, 255, 255);
      font-size: 11px;
      line-height: 14px;
  }
  
  .window-popup-footer {
      display: flex;
      align-self: flex-end;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: end;
      justify-content: flex-end;
      color: rgb(255, 255, 255);
      height: 36px;
      width: 100%;
      background: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
  }
  
  .footer_items:hover {
      background: rgb(19, 112, 233);
  }
  
  .modal {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      width: 300px;
      height: 190px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
  }
  
  .modal-logOf {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      width: 300px;
      height: 190px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
  }
  
  .model_window-header,
  .modal_logof-header {
      height: 42px;
      display: flex;
      padding-left: 10px;
      -moz-box-align: center;
      align-items: center;
      background: rgb(9, 33, 120)
  }
  
  .model_window-content {
      flex: 1 1 0%;
      background: linear-gradient(to right, rgb(51, 73, 224) 0%, rgb(97, 126, 230) 47%, rgb(97, 126, 230) 53%, rgb(51, 73, 224) 100%);
      display: flex;
      -moz-box-align: center;
      align-items: center;
      justify-content: space-around;
      padding: 0px 30px;
      position: relative;
  }
  
  .cal {
      display: flex;
      align-items: center;
  }
  
  .model_window-footer,
  .moda_logof-footer {
      height: 42px;
      background: rgb(9, 33, 120);
      display: flex;
      -moz-box-pack: end;
      justify-content: flex-end;
      -moz-box-align: center;
      align-items: center;
  }
  
  .model_window-header-text {
      font-size: 17px;
      font-family: "Noto Sans";
      color: rgb(255, 255, 255);
      flex: 1 1 0%;
  }
  
  #stand-by {
      opacity: 0.3;
  }
  
  .model_window-content-items {
      /* height: 30px; */
      display: flex;
      flex-direction: column;
      -moz-box-align: center;
      align-items: center;
      color: rgb(255, 255, 255);
      width: 30px;
  }
  
  .model_window-content-items span {
      width: max-content;
  }
  
  .model-window,
  modal_logof-container {
      width: fit-content;
  }
  
  .footer-button,
  modal_logoff-btn {
      font-size: 11px;
      padding: 0px 8px;
      line-height: 10px;
      background: rgb(240, 240, 240);
      margin-right: 10px;
      height: 16px;
      border-radius: 1px;
      box-shadow: rgb(0, 5, 176) 2px 2px 4px 1px, white 2px 2px 2px 0px, skyblue 0px 0px 0px 1px inset, skyblue 2px -2px inset;
      border: medium;
      outline: none;
  }
  
  .footer-button:hover {
      box-shadow: rgb(0, 5, 176) 2px 2px 4px 1px, white 2px 2px 2px 0px, rgb(205, 219, 11) 0px 0px 0px 1px inset, rgb(140, 173, 21) 2px -2px inset;
  }
  
  .grayscale {
      filter: grayscale(100%);
  }
  
  .turnoff-img {
      width: 40px;
  }
  
  .block {
      display: block;
  }
  
  .window_popup-hover:hover {
      background-color: rgb(47, 113, 205);
      color: rgb(255, 255, 255) !important;
  }
  
  .model-window {
      inset: 0px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      font-family: Tahoma, "Noto Sans", sans-serif;
      height: 1200px;
      position: relative;
      top: 6px;
      bottom: 327px;
  }
  
  .modal_logof-container {
      height: 1200px;
      background-color: rgb(185, 17, 17);
      background-image: url(asset/images/backgroundCMD.jpg);
  }
  
  .modal-logOf.grayscale {
      filter: none;
  }
  
  .bottom-div-cover-container {
      position: relative;
      left: 122px;
  }