    body {
        font-family: monospace;
        margin: 0;
        padding: 0;
        color: white;
        box-sizing: border-box;
        font-size: 11px;
        /* height: 100%;
        width: 100%; */
        background-image: url(asset/images/backgroundCMD.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .d-flex {
        display: flex;
    }

    .recycle-bin {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 120px;
        padding-left: 10px;
    }

    .recycle-bin:hover {
        content: url("asset/images/delete\ state\ enabel-3.png");
    }

    #cmd {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50px;
        padding-left: 10px;
    }

    .maincon {
        /* border: 5px solid black; */
        align-items: center;
        background: #000;
        height: 600px;
        width: 800px;
        /* height: 90%; */
        overflow-y: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;


    }



    #mydiv {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 9;
        width: 800px;
    }

    #mydivheader {
        padding: 3px;
        /* cursor: pointer; */
        cursor: move;
        z-index: 10;
        background-color: #404040;
        color: #fff;
    }

    /* ::-webkit-scrollbar {
        width: 10px;
        color: black;
        background-color: lightgrey;
    } */

    .prompt {
        width: 800px;
        /* background-color: black; */
    }

    /* navbar */

    .navbar {
        /* justify-content: flex-end; */
        /* position: fixed; */
        height: 28px;
        padding-top: 5px;
        /* margin-right: 1px; */
        flex-direction: row;
        flex-wrap: nowrap;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: -3px; */
    }

    .px-icon {
        height: 25px;
        width: 25px;
        margin-bottom: 8px;
        margin-left: 9px;
        margin-top: 9px;
        margin-right: 17px;
    }

    .pixel-6 {
        font-size: 19px;
    }

    .six {
        font-size: 23px;
    }

    img {
        height: 15px;
        width: 15px;
    }

    button {
        border-radius: 5px;
    }

    .btnclose,
    .btnremove, #crossBtnBigScreen,#bigScreenMinMaxBtn{
        background-color: transparent;
        border: 0;
        font-size: 20px;
        color: white;
        /* position: absolute; */
        /* right: 0; */
        transition: all 0.2s ease-in;
        /* padding-top: 10px; */
    }

    .btn {
        /* margin-right: 7px; */
        /* background-color: aquamarine; */
        right: 0;
        margin-top: -3px;
        justify-content: flex-end;
        /* width: 20px; */
        display: flex;
        gap: 0px;
        margin-left: auto;
    }

    .btnremove:hover {
        background-color: rgba(211, 211, 211, 0.349);
    }

    .btnclose:hover {
        background-color: red;
        opacity: 0.9;
    }
    #crossBtnBigScreen:hover{
        background-color: red;
        opacity: 0.9;
    }
 

    /* main section */

    .container-fluid {
        width: 100%;
        /* height: 100%; */
        min-height: 567px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: black;
        margin: 0;
        padding: 0;
        /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
        /* overflow-y: hidden; */
        /* overflow: hidden; */
    }

    dd {
        width: 447px;
        margin-top: 5px;
    }

    dt {
        margin-top: 13px;
    }

    .container {
        width: 100%;
        height: 100%;
        background-color: black;
        /* margin-left: 40px; */
        margin-left: 0px;
        /* margin-top: 100px; */
        /* padding-top: 1px; */
        overflow: hidden;
        margin-left: 17px;
    }

    .heading {
        margin-top: 12px;
        width: 394px;
        height: 48px;
        /* background-color: aqua; */
    }

    /* animated P */

    .blink-container {
        /* display: flex; */
        align-items: center;
        justify-content: center;
        /* background-color: gray; */
        width: 200px;
        height: 170px;
        padding-top: 0px;
        flex-direction: column;
        /* animation: blink infinite; */
    }

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .line {
        white-space: nowrap;
        overflow: hidden;
        /* animation: slide 5s linear infinite; */
        opacity: 1;
        color: white;
        padding-left: 20px;
        font-size: 10px;
        animation: blink 1s infinite;
    }

    /* heading */

    .instruction_px {
        /* margin-left: 40px; */
        font-family: monospace;
        font-size: 11px;
    }

    /* prpompt section */

    .path {
        margin-bottom: -16px;
    }

    .newgeneratedpath {
        margin-bottom: 20px;
    }

    .main {
        /* background-color: #e4f122; */
        /* height: 30px;
    width: 50%; */
        font-family: monospace;
        font-size: 11px;
        /* margin-left: 40px; */
        /* display: none; */
        /* margin-bottom: 50px; */
    }

    .helps {
        margin-top: 20px;
        /* background-color: aqua; */
    }

    .input {
        /* width: 400px; */
        /* content: "_"; */
        outline: none;
        color: white;
        background-color: black;
        border: none;
        position: relative;
        font-family: monospace;
        /* caret-color: transparent; */
        /* background-color: aqua; */
    }

    /* home command */
    /* .home {
        margin-top: 20px;
    }
    
    .home h4 {
        margin-right: 20px;
    }
    
    .homediv {
        display: flex;
        margin-bottom: 10px;
    }
    
    .homediv p {
        text-align: justify;
    } */
    /* about command */

    .about {
        font-size: 10px;
        font-family: monospace;
        text-align: justify;
        margin-top: 20px;
    }

    .aboutP {
        width: 400px;
        height: 86px;
        line-height: 12px;
        margin-left: 110px;
        text-align: justify;
        /* background-color: aquamarine; */
    }

    .about ul {
        /* margin-left: -23px; */
        margin-left: -28px;
    }

    .aboutwrap {
        margin-left: 72px;
        height: 285px;
        width: 407px;
        text-align: justify;
        line-height: 13px;
    }

    /* project command */

    .projects {
        /* text-align: justify; */
        margin-top: 5px;
    }

    /* .projects ul {
        margin-top: 20px;
    }
    
    .projects ul li {
        list-style: none;
        margin-top: -10px;
    } */
    /* pdiv h4 {
        margin-top: -9px;
    } */

    .projects-para {
        margin-top: -20px;
    }

    .pwrap {
        text-align: justify;
        width: 440px;
        margin-top: -5px;
    }

    /* contact command */

    .contact {
        margin-top: 20px;
    }

    .contact-location {
        margin-top: 8px;
    }

    .contact p {
        margin-top: 3px;
    }

    /* jobs command */

    .jobs {
        text-align: justify;
        margin-top: 20px;
    }

    .jobs-px {
        width: 406px;
        /* background-color: aquamarine; */
    }

    a {
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        background-color: rgba(56, 56, 204, 0.726);
    }

    /* get_quote command */

    .get_quote {
        text-align: justify;
    }

    .get_quote p {
        margin-top: -14px;
    }

    .get_quote_px {
        width: 406px;
        margin-top: 20px;
        /* background-color: aquamarine; */
    }

    /*  command not found */

    .note {
        font-size: 11px;
        margin-top: 20px;
    }

    /* input feild */

    .input-field {
        font-size: 11px;
        font-family: monospace;
    }

    /* get_quote quetions */

    .input_getquote {
        background-color: black;
        outline: none;
        border: none;
        margin-left: 12px;
        color: white;
        /* font-family: monospace; */
    }

    #Project-Brief {
        background-color: black;
        margin: 0;
        text-align: left;
        margin-top: -10px;
    }

    .msg {
        background-color: brown;
    }

    #messageYes {
        width: 270px;
        background-color: black;
    }

    #successfull {
        width: 270px;
        background-color: black;
        color: white;
    }

    .d-none {
        display: none;
    }

    .restore-img {
        background-color: black;
        height: 40px;
        width: 45px;
    }

    .bottom-div {
        height: 20px;
        width: 225px;
        position: fixed;
        left: 0;
        bottom: 0;
        color: white;
        padding: 10px 0;
        background-color: #101010;
        align-items: center;
        /* margin-left: 10px;
    margin-bottom: 10px; */
    }

    .bottom-p6 {
        font-size: 19px;
        margin-right: 85px;
        padding-left: 17px;
    }
    .min-resize-h-w{
        width: 100px;
        height: 28px;
    }
    .fadeout {
        /* color: #ffffff; */
        /* font-size: large; */
        /* font-family: helvetica; */
        /* text-align: center; */
        opacity: 0;
        -webkit-animation: fadeout 1s;
        -moz-animation: fadeout 1s;
        -ms-animation: fadeout 1s;
        -o-animation: fadeout 1s;
        animation: fadeout 1s;
    }

    @keyframes fadeout {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

   .fadeInAnimation{
    /* animation: fadeInAnimation ease 3s; */
    animation-fill-mode: backward;
    transition: 1s all ease-in-out;
   
   
   } 
   @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}